@charset "utf-8";

  /* 로그인 화면 */
  .login-section h3 {
    display: block;
    margin: 100px 0 60px;
    font-size: 28px;
    text-align: center;
  }

  .login-section .member-select a {
    text-decoration: underline;
    color: #8f8f8f;
  }

  .login-section .member-select a:first-child {
    color: #000;
    margin-right: 100px;
  }

  .member-select {
    width: 500px;
    margin: 0 auto 60px;
    text-align: center;
  }

  .member {
    margin: 0 auto;
    width: 500px;
  }

  .id-box span,
  .pw-box span {
    vertical-align: middle;
    margin-left: 8px;
  }

  .id-box {
    width: 350px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #000;
  }

  #ID {
    width: 85%;
    height: 100%;
    display: inline-block;
    border: none;
    text-align: center;
  }

  .pw-box {
    width: 350px;
    height: 50px;
    margin: 0 auto;
    padding: 10px 0;
    border: 1px solid #000;
  }

  #PW {
    width: 85%;
    height: 100%;
    display: inline-block;
    border: none;
    text-align: center;
  }

  .id-memory-box {
    width: 344px;
    margin: 20px auto 20px;
  }

  .login-btn {
    display: block;
    margin: 0 auto 10px;
    width: 350px;
    height: 50px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: none;
  }

  .login-other {
    width: 500px;
    margin-bottom: 40px;
    padding: 0 76px;
  }

  .login-other li {
    display: inline-block;
  }

  .login-other li:first-child {
    margin-left: 54px;
  }

  .login-other li:first-child::after,
  .login-other li:nth-child(2)::after {
    content: "|";
    display: inline-block;
    margin: 0 10px;
    font-size: 13px;
    color: #8f8f8f;
  }

  .login-other li a {
    font-size: 13px;
    color: #8f8f8f;
  }
